* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;

	--font-main: var(--font-fallback);
	--font-fallback: system-ui, "Segoe UI", roboto, "Helvetica Neue", arial;
}

/* variation fonts */
@font-face {
	font-family: montserrat-vf;
	src: url("/montserrat-vf.woff2") format("woff2-variations");
	font-display: swap;
}

/* fallbacks, regular */
@font-face {
	font-family: montserrat-medium-regular;
	src: url("/montserrat-medium-regular.woff2") format("woff2");
	font-display: swap;
}

@supports (font-variation-settings: normal) {
	:root {
		--font-main: "montserrat-vf", var(--font-fallback);
	}
}

body {
	margin: 0;
	display: flex;
	width: 100%;
	position: relative;
}

h1 {
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-9);
	line-height: 1.2;
	text-align: center;
	font-variation-settings: "wght" 200;
}

h2 {
	font-size: var(--font-size-3);
	justify-self: center;
	display: flex;
	font-variation-settings: "wght" 600;
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

p {
	font-size: var(--font-size-2);
	text-align: justify;
	font-variation-settings: "wght" 300;
}

strong {
	font-variation-settings: "wght" 600;
}

main {
	display: grid;
	grid-template-rows: min-content;
	gap: var(--space-4);
	width: 100%;
	padding-inline: var(--space-2);
	min-height: 115vh;
	margin-block-end: 5.6rem;
}

button,
input {
	font: inherit;
}
