.dialog {
	display: grid;
	border: none;
	background-color: transparent;

	&::backdrop {
		background-color: rgb(0 0 0 / 70%);
		overscroll-behavior-y: contain;
	}

	&:not([open]) {
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		transition:
			opacity 0.35s ease-in-out,
			visibility 0.35s ease-in-out;
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
