.root {
	display: grid;
	gap: var(--space-1);
}

.root h2,
.root h3 {
	justify-self: start;
	width: 100%;
	padding-block-end: var(--space-2);
	margin-block: var(--space-6) var(--space-2);
	color: hsl(0deg 0% 90%);
	border-bottom: 1px solid hsl(0deg 0% 90% / 10%);
	font-size: var(--font-size-5);
}

.root h3 {
	text-align: left;
	font-size: var(--font-size-4);
}

.root h2:first-of-type {
	margin-block-start: 0;
}

.root p {
	font-size: var(--font-size-4);
}

.root a {
	display: inline;
	text-decoration: underline;
}
