.time {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	font-size: var(--time-font-size, inherit);
	color: var(--time-color, inherit);
	font-variant-numeric: tabular-nums;
}
