.label {
	display: grid;
	gap: var(--space-1);
	text-align: left;
	font-size: var(--font-size-2);
}

.input {
	background-color: var(--color-surface-2);
	border: 2px solid var(--color-border);
	border-radius: var(--radius-xs);
	padding: var(--space-1) var(--space-2);
	color: inherit;

	&:focus-visible {
		background-color: var(--color-surface-3);
		outline: 3px solid var(--color-accent);
		outline-offset: -3px;
	}
}
