.root {
	--gauge-color: lightblue;

	display: grid;
	grid-auto-rows: min-content;
	font-size: var(--font-size-6);
}

.root > div {
	display: grid;
	justify-content: center;
}

.phases > div {
	display: grid;
	grid-auto-flow: column;
	grid-template: 1fr auto / repeat(5, 1fr);
	justify-items: center;
	padding-block: var(--space-4);
}

.phases > div > p {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
}

.phases time {
	font-size: min(2.5vmin, var(--font-size-2));
}
