.root {
	--gauge-color: lightblue;

	display: grid;
	grid-auto-rows: min-content;
	font-size: var(--font-size-6);
	justify-items: center;

	& > :is(header, footer) {
		width: 100%;
	}

	& > div {
		display: grid;
		justify-content: center;
	}

	& > footer {
		justify-content: space-between;
		align-items: center;

		p {
			font-size: var(--font-size-3);
			font-variant-numeric: tabular-nums;
		}
	}
}

.phases {
	& > div {
		display: grid;
		grid-auto-flow: column;
		grid-template: 1fr auto / repeat(5, 1fr);
		justify-items: center;
		padding-block: var(--space-4);
	}

	& > div > p {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
	}

	& time {
		font-size: min(2.5vmin, var(--font-size-2));
	}
}
