.ticks line {
	stroke-width: var(--gauge-mark-width, 0.125);
	stroke: var(--gauge-mark-color, hsl(0deg 50% 100% / 50%));
}

.ticks line:nth-child(n + 25):nth-child(-n + 28) {
	stroke-width: var(--gauge-mark-prime-width, 0.25);
	stroke: var(--gauge-markprime-color, hsl(0deg 5% 50%));
}
