.card {
	--timer-size: 1rem;

	display: grid;
	gap: var(--space-2);
	width: 100%;
	height: fit-content;
	border-radius: 10px;
	border: 3px solid var(--card-border-color, var(--color-surface-3));

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--space-2) var(--space-3);
		border-bottom: 3px solid var(--card-border-color, var(--color-surface-3));
	}

	h2 {
		--icon-color: gold;

		display: flex;
		align-items: center;
		gap: var(--space-2);
		font-size: var(--font-size-4);
	}

	output {
		font-size: var(--font-size-2);
		color: var(--color-text-secondary);
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-1);
		padding: var(--space-2);
		border-top: 3px solid var(--card-border-color, var(--color-surface-3));

		p {
			text-align: center;
		}

		svg {
			fill: yellow;
		}
	}

	& > div {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: var(--space-2);
		margin-block: var(--space-4);
	}

	time {
		font-size: 0.75em;
		padding: var(--space-1) var(--space-1);
	}
}

.sparkline {
	width: 100%;

	& path {
		stroke-width: var(--sparkline-stroke-width, 0.5px);
		stroke: var(--color-success);
	}

	& path[data-stroke-water] {
		stroke: rgb(159 148 255);
	}

	& text {
		font-family: var(--font-main);
		font-variant-numeric: tabular-nums;
		opacity: 0.6;
		cursor: default;
	}
}
