.card {
	height: min-content;
}

.item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-2) var(--space-4);
	padding: var(--space-3) var(--space-5);
	width: 100%;

	&:not(:last-child)::after {
		position: absolute;
		inset-inline: var(--space-5);
		inset-block-end: 0;
		display: var(--property-list-divider-display, block);
		height: 1px;
		background-color: var(--card-divider-color);
		content: "";
	}
}

.label {
	min-width: 0;
	color: var(--color-text-secondary);
}

.value {
	min-width: 0;
	font-weight: 500;
	font-variation-settings: "wght" 500;
	overflow-wrap: anywhere;
	text-align: end;
}

@media screen and (width <= 420px) {
	.card :is(.label.label, .value.value) {
		font-size: var(--font-size-1);
	}
}
