.card {
	border-radius: 10px;
	border: 3px solid var(--card-border-color, var(--color-surface-3));
	height: min-content;
}

.header {
	border-bottom: 3px solid var(--card-border-color, var(--color-surface-3));
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 10px 10px 0 0;
	padding: var(--space-2) var(--space-5);
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--space-2) var(--space-4);
	width: 100%;

	&:not(:last-child) {
		border-bottom: 1px solid var(--card-border-color, var(--color-surface-3));
	}
}

@media screen and (width <= 420px) {
	.card :is(.label.label, .value.value) {
		font-size: var(--font-size-1);
	}
}
