.page {
	--gauge-color: gold;
	--timeline-icon-size: 4.5rem;
	--timeline-icon-secondary-size: 2.75rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-8);
	--timeline-edge-wire-length-start: var(--space-8);

	display: grid;
	grid-auto-rows: min-content;
	gap: var(--space-6);
	width: var(--content-width);

	section[data-label="lights-schedule"] {
		display: grid;
		justify-items: center;
	}

	section[data-label="timeline"] {
		margin-block: var(--space-6);
	}
}
