.article {
	display: grid;
	gap: var(--space-3);
	margin-bottom: 25vh;
	width: var(--content-width);

	:is(h2, h3) {
		justify-self: start;
		width: 100%;
		color: hsl(0deg 0% 90%);
	}

	h2 {
		font-size: var(--font-size-7);
		margin-block: var(--space-6) var(--space-2);
	}

	h3 {
		padding-block-end: var(--space-2);
		text-align: left;
		font-size: var(--font-size-4);
		border-bottom: 1px solid hsl(0deg 0% 90% / 10%);
	}

	p {
		font-size: var(--font-size-4);
	}

	a {
		display: inline;
		text-decoration: underline;
	}

	ul, ol {
		display: grid;
		gap: var(--space-2);
		margin-left: 1em;
		margin-block-end: var(--space-4);
	}

	li {
		text-align: left;
	}
}
