.form {
	display: grid;
	gap: var(--space-4);
}

.fieldset {
	display: grid;
	gap: var(--space-2);
	border: 3px solid var(--color-surface-4);
	border-radius: var(--radius);
	padding-block-end: var(--space-5);

	& > legend {
		display: flex;
		float: left;
		border-block-end: 3px solid var(--color-surface-4);
		padding: var(--space-2) var(--space-4);
		margin-block-end: var(--space-2);
	}

	& > div {
		display: grid;
		gap: var(--space-4);
		padding-inline: var(--space-4);

		& > aside {
			text-wrap: balance;
			color: var(--color-text-secondary);
		}
	}
}
