.view {
	/* Flip the vertical axis in <g> to emulate cartesian. */
	transform: scaleY(-1);
	width: 100%;

	& text {
		transform: scaleY(-1);
	}
}

.zero-axis {
	stroke: var(--color-surface-3);
	stroke-width: 2px;
	opacity: 0.5;
}

.ticks text {
	font-size: 10px;
	text-anchor: middle;
	fill: currentcolor;
	opacity: 0.75;
}
