.page {
	--moon-scale: 7.5ch;

	display: grid;
	justify-content: center;
	align-items: center;
	gap: var(--space-7);
	width: var(--max-width);
	
	@media screen and (max-width: 620px) {
		--moon-scale: 5ch;
	}
	@media screen and (max-width: 400px) {
		--moon-scale: 2.5ch;
	}
}

.message {
	text-align: center;
	text-wrap: balance;
	font-size: var(--font-size-4);
}

.moon {
	display: grid;
	grid-template: 1fr / min-content min(100%, 3 * var(--moon-scale)) min-content;
	justify-content: center;
	place-items: center;
	gap: 1ch;
}

.digit {
	font-size: calc(2 * var(--moon-scale));
}

.link {
	justify-self: center;
}
