.next-event-info {
	display: grid;
	justify-items: center;
	gap: var(--space-2);
	padding-block-end: var(--space-4);

	time {
		--timer-size: 1.5rem;

		border: none;
	}

	span {
		font-variation-settings: "wght" 600;
	}
}
