.label {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;

	span {
		margin-inline-start: var(--space-3);
	}
}

.box {
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	background: var(--checkbox-background);
	border: 1px solid var(--checkbox-border-color);
	border-radius: 15%;
	fill: currentcolor;
	transition: var(--transition-bg);

	& path {
		opacity: 0;
		fill: var(--checkbox-symbol-color);
		transition: opacity 0.125s linear;
	}
}

.input {
	appearance: none;

	&:disabled ~ .box {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:checked ~ .box {
		background-color: var(--checkbox-checked-bg);

		& path[data-checked] {
			opacity: 1;
		}
	}

	&:not(:is(:checked, :indeterminate)) ~ .box {
		background-color: var(--checkbox-unchecked-bg);

		& path[data-unchecked] {
			opacity: 1;
		}
	}

	&:indeterminate ~ .box {
		background-color: var(--checkbox-indeterminate-bg);

		& path[data-indeterminate] {
			opacity: 1;
		}
	}
}
