.page {
	--gauge-color: gold;
	--timeline-icon-size: 4rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-6);
	--timeline-edge-wire-length-start: var(--space-6);

	display: grid;
	grid-auto-rows: min-content;
	gap: var(--space-6);
	width: var(--content-width);

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-variant-numeric: tabular-nums;

		output {
			font-size: var(--font-size-2);
			text-align: justify;
			font-variation-settings: "wght" 300;
			font-variant-numeric: tabular-nums;
		}

		@media screen and (width <= 380px) {
			flex-direction: column;
		}
	}
}
