.page {
	--gauge-color: gold;
	--timeline-icon-size: 4rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-6);
	--timeline-edge-wire-length-start: var(--space-6);

	display: grid;
	grid-auto-rows: min-content;
	gap: var(--space-6);
	width: var(--content-width);
}
