#app {
	display: grid;
	grid-template: auto auto 1fr / 1fr;
	grid-auto-rows: min-content;
	justify-items: center;
	gap: var(--space-6);
	min-height: 125vh;
	text-align: center;
	margin-block-start: var(--space-7);
	margin-inline: auto;
	width: 100%;
}

body > header {
	display: flex;
	padding: 0.25em 0.5em;
	padding-top: 1em;
}

main {
	display: grid;
	grid-auto-rows: min-content;
	justify-items: center;
	gap: var(--space-6);
	width: var(--content-width);
}

footer {
	align-self: end;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--content-width);
	margin-block-start: var(--space-9);
	border-block-start: 1px solid var(--color-surface-3);
	padding-block: var(--space-4);
	font-variant: small-caps;
}

footer > * {
	padding: var(--space-1) var(--space-2);
}

footer > p:nth-child(2) {
	font-variation-settings: "wght" 200;
}

.github {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 0.35em;
}

.github svg {
	width: 1.25rem;
	height: 1.25rem;
}
