#app {
	display: grid;
	grid-auto-rows: min-content;
	justify-items: center;
	gap: var(--space-6);
	min-height: 125vh;
	text-align: center;
	margin-block-start: var(--space-7);
	margin-inline: auto;
}

body > header {
	display: flex;
	padding: 0.25em 0.5em;
	padding-top: 1em;
}

main {
	display: grid;
	grid-auto-rows: min-content;
	justify-items: center;
	gap: var(--space-6);
	width: var(--content-width);
}

footer {
	display: grid;
	justify-items: center;
	width: var(--content-width);
	border-radius: 7.5px 7.5px 0 0;
	background-color: var(--color-surface-2);
	margin-block-start: var(--space-9);
	border: 2px solid var(--color-surface-3);
	padding-block-end: var(--space-4);
	font-variant: small-caps;
}

footer > * {
	padding: var(--space-1) var(--space-2);
}

footer > p:first-of-type {
	justify-self: center;
	font-variation-settings: "wght" 200;
	text-align: center;
	margin-block-end: var(--space-4);
	border-bottom: 2px solid var(--color-surface-3);
	width: 100%;
}

footer > p:nth-child(2) {
	font-variation-settings: "wght" 200;
}

.github {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 0.35em;
}

.github svg {
	width: 1.25rem;
	height: 1.25rem;
}
