:root {
	font-size: 16px;
	line-height: 1.3;
	font-weight: 400;
	font-family: var(--font-main);

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 2rem;
	--space-8: 3rem;
	--space-9: 4rem;
	--space-10: 8rem;
	--content-width: min(100%, 55ch);
	--max-width: min(100%, 1440px);
	--font-scale: 1rem;
	--font-size-1: calc(0.6 * var(--font-scale));
	--font-size-2: calc(0.75 * var(--font-scale));
	--font-size-3: calc(0.9 * var(--font-scale));
	--font-size-4: calc(1 * var(--font-scale));
	--font-size-5: calc(1.15 * var(--font-scale));
	--font-size-6: calc(1.3 * var(--font-scale));
	--font-size-7: calc(1.45 * var(--font-scale));
	--font-size-8: calc(1.75 * var(--font-scale));
	--font-size-9: calc(2 * var(--font-scale));
	--color-accent: rgb(0 139 139);
	--color-text: rgb(255 255 255 / 90%);
	--color-text-secondary: rgb(255 255 255 / 75%);
	--color-link: hsl(180deg 85% 45%);
	--color-link-hover: hsl(180deg 85% 85%);
	--color-surface-0: hsl(210deg 23% 7%);
	--color-surface-1: hsl(210deg 23% 10%);
	--color-surface-2: hsl(210deg 23% 15%);
	--color-surface-3: hsl(210deg 23% 20%);
	--color-surface-4: hsl(210deg 23% 24%);
	--color-success: rgb(15 202 202);
	--color-danger: rgb(255 80 80);
	--border: 1px solid hsl(210deg 23% 25%);
	--radius: 5px;
	--font-main: var(--font-fallback);
	--font-fallback: system-ui, "Segoe UI", roboto, "Helvetica Neue", arial;

	color-scheme: dark;
	color: var(--color-text);
	background-color: var(--color-surface-1);
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}
