.page {
	--gauge-color: gold;
	--timeline-icon-size: 4rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-6);
	--timeline-edge-wire-length-start: var(--space-6);

	display: grid;
	grid-auto-rows: min-content;
	gap: var(--space-6);
	width: var(--content-width);
}

.gauge-footer {
	display: flex;
	border-top: 3px solid var(--card-border-color, var(--color-surface-3));
	border-radius: 0 0 10px 10px;
	width: 100%;
	font-variant-numeric: tabular-nums;
	font-size: var(--font-size-2);

	ol {
		width: 100%;
		list-style: none;
	}

	li {
		display: grid;
		grid-template: 1fr / 2fr 12ch 2fr;
		padding-block: var(--space-1);
		gap: var(--space-6);

		&:not(:last-child) {
			border-bottom: 1px solid var(--card-border-color, var(--color-surface-3));;
		}
	}

	span:first-child {
		justify-self: end;
	}

	span:last-child {
		justify-self: start;
	}

	@media screen and (width <= 420px) {
		font-size: var(--font-size-1);
	}

	@media screen and (width <= 360px) {
		font-size: var(--font-size-0);
	}
}
