.date-input {
	place-self: end center;
	z-index: 12;
	position: sticky;
	bottom: var(--space-5);
	margin-block-end: var(--space-5);
}

@media screen and (width <= 650px) {
	.date-input {
		bottom: calc(2 * var(--space-3) + 2 * var(--space-2) + var(--font-size-2) + var(--space-4));

		input {
			font-size: var(--font-size-2);
		}
	}
}
