.page {
	--timeline-icon-size: 4.5rem;
	--timeline-icon-secondary-size: 2.75rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-6);
	--timeline-edge-wire-length-start: var(--space-6);
	--timeline-edge-wire-length-end: var(--space-6);

	display: grid;
	gap: var(--space-6);
	width: var(--content-width);
}
