.error {
	--card-border-color: var(--color-danger);

	display: grid;
	gap: var(--space-3);

	ul {
		list-style-position: inside;
	}

	li {
		text-align: left;
		list-style-type: "— ";
	}

	:is(p, li) {
		font-size: var(--font-size-3);
	}

	strong {
		font-weight: 500;
	}

	button {
		justify-self: center;
		width: fit-content;
		background-color: var(--color-success);
		margin-block-end: var(--space-5);
	}
}
