:root {
	font-size: 16px;
	line-height: 1.3;
	font-weight: 400;
	font-family: var(--font-main);

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 2rem;
	--space-8: 3rem;
	--space-9: 4rem;
	--space-10: 8rem;
	--content-width: min(100%, 60ch);
	--max-width: min(100%, 1440px);
	--font-scale: 1rem;
	--font-size-0: calc(0.5 * var(--font-scale));
	--font-size-1: calc(0.6 * var(--font-scale));
	--font-size-2: calc(0.75 * var(--font-scale));
	--font-size-3: calc(0.9 * var(--font-scale));
	--font-size-4: calc(1 * var(--font-scale));
	--font-size-5: calc(1.15 * var(--font-scale));
	--font-size-6: calc(1.3 * var(--font-scale));
	--font-size-7: calc(1.45 * var(--font-scale));
	--font-size-8: calc(1.75 * var(--font-scale));
	--font-size-9: calc(2 * var(--font-scale));
	--color-accent: hsl(180deg 30% 30%);
	--color-text: rgb(255 255 255 / 90%);
	--color-text-secondary: rgba(240 220 220 / 75%);
	--color-link: hsl(180deg 85% 45%);
	--color-link-hover: hsl(180deg 50% 60%);
	--color-surface-0: hsl(210deg 23% 7%);
	--color-surface-1: hsl(210deg 23% 10%);
	--color-surface-2: hsl(210deg 23% 15%);
	--color-surface-3: hsl(210deg 23% 20%);
	--color-surface-4: hsl(210deg 23% 24%);
	--color-surface-5: hsl(210deg 23% 28%);
	--color-success: hsl(153deg 78% 51%);
	--color-danger: hsl(0deg 95% 65%);
	--color-info: #003C5A;
	--color-border: hsl(210deg 23% 25%);
	--border: 1px solid hsl(210deg 23% 25%);
	--radius: 5px;
	--header-menu-height: calc(4 * var(--space-3) + 2 * var(--space-2) + var(--font-size-2));
	--focus-ring-color: hsl(240deg 45% 60%);
	--transition-bg: background-color 0.125s linear;

	/* component tokens */
	--timeline-wire-width: 3px;
	--timeline-wire-color: var(--color-surface-3);
	--event-current-color: var(--color-accent);
	--timer-size: 2rem;
	--segment-color-on: hsl(180deg 40% 60% / 90%);
	--segment-color-off: hsl(180deg 40% 25% / 50%);
	--radio-input-checked: hsl(212deg 80% 65%);
	--radio-input-hover: hsl(212deg 85% 55%);
	--checkbox-symbol-color: white;
	--checkbox-unchecked-bg: var(--color-surface-5);
	--checkbox-border-color: var(--color-surface-3);
	--checkbox-checked-bg: hsl(120deg 90% 30%);
	--checkbox-indeterminate-bg: hsl(71deg 75% 40%);
	--checkbox-size: 1.5em;

	color-scheme: dark;
	color: var(--color-text);
	background-color: var(--color-surface-1);
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}
