.dialog {
	transition: opacity 0.35s ease-in-out;
}

.modal {
	display: grid;
	grid-template: auto 1fr / 1fr;
	border-radius: var(--radius);
	background-color: var(--color-surface-1);
	border: 3px solid var(--color-surface-2);
	width: min(85vw, 450px);
	max-height: 85vh;
	overscroll-behavior-y: contain;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid var(--color-surface-2);
	padding: var(--space-2) var(--space-4);

	& > button {
		width: fit-content;
		aspect-ratio: 1;
		padding: var(--space-2);
	}

	& > h2 {
		font-size: var(--font-size-5);
		font-weight: 500;
	}
}

.body {
	display: grid;
	justify-items: center;
	gap: var(--space-4);
	padding: var(--space-4);
	width: 100%;
	overflow-y: auto;
	overscroll-behavior: contain;

	/* TODO: move into update modal styles */
	p {
		text-align: center;
		font-size: var(--font-size-4);
	}
}
