.elevation-path-sun {
	--elevation-graph-path-width: 1.5px;
	--elevation-graph-path-opacity: 0.35;
}

.elevation-path-moon {
	--elevation-graph-path-color: lightblue;
}

.elevation-pointer-moon {
	--elevation-graph-pointer-color: lightblue;
}
