.menu {
	display: grid;
	grid-template: min-content min-content 1fr / 1fr;
	padding: var(--space-1) var(--space-4);
	height: fit-content;

	& > section {
		display: grid;
		gap: var(--space-1);
	}
}

.header {
	--icon-size: 1em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-4) calc(var(--space-4) + var(--space-2)) var(--space-4);
	border-block-end: 1px solid rgba(173 216 230 / 10%);

	& h2 {
		font-size: var(--font-size-5);
	}
}

.footer {
	margin-block-start: auto;
	padding-block: var(--space-4);
	padding-inline: calc(var(--space-4) + var(--space-2));
}

.info {
	display: grid;
	justify-content: start;
	font-size: var(--font-size-2);

	& > div {
		display: flex;
		gap: var(--space-2);
	}

	& dt {
		color: var(--color-text-secondary);
	}

	@media screen and (width <= 650px) {
		justify-self: center;

		& > div {
			justify-content: center;
		}
	}
}

.section {
	padding-block: var(--space-2);
	border-block-end: 1px solid rgba(173 216 230 / 10%);
}

.link {
	gap: var(--space-2);
	padding: var(--space-2);
	font-size: var(--font-size-2);
	font-variant-caps: small-caps;

	&:hover {
		background-color: var(--color-surface-3);
		text-decoration: none;
	}

	&:where([aria-current="page"]) {
		background-color: var(--color-surface-2);
	}

	&:active {
		background-color: var(--color-surface-4);
	}
}
