.output {
	text-align: end;
	padding-block-start: 1.2rem;
	margin-block-start: 1.6rem;
	border-block-start: var(--border);

	& > p {
		font-size: 1rem;
		text-align: right;
		font-variant-numeric: tabular-nums;
		text-wrap: balance;

		&[data-error] {
			color: var(--color-danger);
		}
	}
}

.value {
	color: var(--color-success);
}
