.page {
	display: grid;
	gap: var(--space-4);
	width: min(100%, 60ch);
	font-size: var(--font-size-2);
}

.title {
	justify-self: start;
	font-size: var(--font-size-5);
}

.submit {
	border: none;

	& > .submit-content {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0;
	}
}
