.root {
	--card-border-color: var(--color-surface-4);

	overflow: hidden;
}

.body {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cell.cell {
	border-bottom: 0;
	display: grid;
	grid-row: span 2;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: subgrid;
	justify-items: center;
	min-width: 0;
	padding: var(--space-3) var(--space-4);
	row-gap: var(--space-1);
	text-align: center;

	&:nth-child(-n + 3) {
		border-bottom: 1px solid var(--color-surface-3);
	}

	&:not(:nth-child(3n)) {
		border-right: 1px solid var(--color-surface-3);
	}

	dt {
		color: var(--color-text-secondary);
		font-size: var(--font-size-1);
		text-align: center;
	}

	dd {
		font-size: var(--font-size-4);
		justify-self: stretch;
		margin: 0;
		text-align: center;
	}
}

.value {
	display: flex;
	justify-content: center;
	text-align: center;
}

.metric-value {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
	margin: 0;

	strong {
		font-weight: 500;
	}
}

.delta {
	display: block;
	font-size: var(--font-size-1);
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
}

.status {
	display: block;
	font-size: var(--font-size-1);
	line-height: 1.25;
	text-align: center;
}

@media screen and (width <= 540px) {
	.body {
		grid-template-columns: 1fr 1fr;
	}

	.cell.cell {
		&:nth-child(-n + 4) {
			border-bottom: 1px solid var(--color-surface-3);
		}

		&:nth-child(n + 5) {
			border-bottom: 0;
		}

		&:not(:nth-child(3n)) {
			border-right: 0;
		}

		&:nth-child(odd) {
			border-right: 1px solid var(--color-surface-3);
		}
	}
}

@media screen and (width <= 370px) {
	.body {
		grid-template-columns: 1fr;
	}

	.cell.cell {
		&:not(:last-child) {
			border-bottom: 1px solid var(--color-surface-3);
		}

		&:last-child {
			border-bottom: 0;
		}

		&:nth-child(odd) {
			border-right: 0;
		}
	}
}
