.body {
	--property-list-divider-display: none;

	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--space-2);
	padding: var(--space-1) var(--space-4) var(--space-4);
}

.cell.cell {
	display: grid;
	grid-row: span 2;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: subgrid;
	justify-items: center;
	min-width: 0;
	padding: var(--space-4) var(--space-3);
	border-radius: calc(var(--card-radius) - var(--space-2));
	background-color: rgb(255 255 255 / 2.5%);
	row-gap: var(--space-1);
	text-align: center;

	dt {
		text-align: center;
	}

	dd {
		justify-self: stretch;
		margin: 0;
		text-align: center;
	}
}

.value {
	display: flex;
	justify-content: center;
}

.metric-value {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
	margin: 0;

}

.delta {
	display: block;
	white-space: nowrap;
}

.status {
	display: block;
}

@media screen and (width <= 540px) {
	.body {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (width <= 370px) {
	.body {
		grid-template-columns: 1fr;
	}
}
