.page {
	--timeline-icon-size: 4.5rem;
	--timeline-icon-secondary-size: 2.75rem;
	--timeline-wire-width: 3px;
	--timeline-gap: var(--space-6);
	--timeline-edge-wire-length-start: var(--space-6);
	--timeline-edge-wire-length-end: var(--space-6);

	display: grid;
	gap: var(--space-6);
	width: var(--content-width);
}

.root {
	--gauge-color: lightblue;

	display: grid;
	grid-auto-rows: min-content;
	font-size: var(--font-size-6);
	justify-items: center;

	& > :is(header, footer) {
		width: 100%;
	}

	& > div {
		display: grid;
		justify-content: center;
	}
}

.elevation-graph-sun {
	--elevation-graph-stroke-width: 1.5px;
	--elevation-graph-stroke-opacity: 0.35;
}

.elevation-graph-moon {
	--elevation-graph-accent: lightblue;
}

.phases {
	& > div {
		display: grid;
		grid-auto-flow: column;
		grid-template: 1fr / repeat(5, 1fr);
		justify-items: center;
		padding-block: var(--space-4);
	}

	& > div > p {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
	}

	& time {
		font-size: min(2.5vmin, var(--font-size-2));
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:hover svg {
			filter: drop-shadow(0 0 1em lightblue);
		}

		svg {
			width: 85%;
			height: 85%;
			aspect-ratio: 1 / 1;
			transition: filter 0.125s ease-in-out;
		}
	}
}
