.card {
	width: 100%;
	height: fit-content;
	min-width: 0;
	overflow: hidden;
	border: 1px solid var(--card-border-color);
	border-radius: var(--card-radius);
	background-color: var(--card-background);
	box-shadow: var(--card-shadow);

	& > header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: var(--space-4) var(--space-5) var(--space-3);
	}
}
