.form {
	display: grid;
	grid-auto-rows: min-content;
	gap: 1.2rem;
	width: 100%;
}

.level {
	display: grid;
	grid-template: 1fr / repeat(2, minmax(0, 1fr));
	gap: 0.5rem;
	border: none;
	width: 100%;
	min-width: 0;

	@media screen and (width <= 380px) {
		grid-template: repeat(2, 1fr) / minmax(0, 1fr);
	}
}
