.navigation-info {
	--icon-size: 2rem;

	display: grid;
	justify-items: center;
	gap: var(--space-2);
	padding-block-end: var(--space-4);

	&[data-closed] {
		--card-border-color: var(--color-danger);
	}

	p:last-of-type {
		font-size: var(--font-size-5);
		font-variation-settings: "wght" 600;
	}
}
