.form {
	display: grid;
	gap: var(--space-4);
}

.fieldset {
	display: grid;
	gap: var(--space-3);
	min-width: 0;
	border: 0;
	padding: 0 var(--space-5) var(--space-5);

	& > legend {
		display: flex;
		float: left;
		padding-block: var(--space-4) var(--space-3);
		font-size: var(--font-size-4);
		font-weight: 600;
		font-variation-settings: "wght" 600;
	}

	& > div {
		display: grid;
		gap: var(--space-4);

		& > aside {
			text-wrap: balance;
			color: var(--color-text-secondary);
		}
	}
}
