.dialog:not([open]) {
	transition:
		/* a bit of delay for better visuals */
		opacity 0.35s ease-in-out 0.25s,
		visibility 0.35s ease-in-out 0.25s;

	& .drawer {
		transform: translateX(100%);
	}
}

.dialog[open] .drawer {
	transform: translateX(0%);
}

.drawer {
	position: relative;
	max-width: 80vw;
	background-color: var(--color-surface-1);
	width: min(80vw, 300px);
	height: 100vh;
	height: 100dvh;
	transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1);
	overflow-y: auto;
}

.backdrop {
	justify-content: flex-end;
}

