.root {
	--gauge-color: gold;

	display: grid;
	grid-auto-rows: min-content;
	font-size: var(--font-size-6);
	justify-items: center;

	& > header {
		width: 100%;
	}
	
	& > div {
		display: grid;
		justify-content: center;
	}
}
