.label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--space-2);
	user-select: none;
	cursor: pointer;

	& span {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5em;
		width: 1.25em;
		height: 1.25em;
		border: 4px solid var(--color-surface-4);
		border-radius: 50%;
		background-color: var(--color-surface-4);
		transition: var(--transition-bg);

		/* input element result in extra gap at start */
		margin-inline-start: calc(-1 * var(--space-2));
	}
}

.radio {
	appearance: none;

	&:focus-visible {
		outline: none;

		& + span {
			outline: 2px dashed var(--focus-ring-color);
			outline-offset: 3px;
		}
	}

	&:hover + span {
		background-color: var(--radio-input-hover);
	}

	&:checked + span {
		background-color: var(--radio-input-checked);
	}

	&:is(:active, :hover:active, :focus-visible) + span {
		background-color: var(--radio-input-hover);
	}

	&:active + span {
		transform: scale(0.85);
	}
}
